{% extends 'base.html' %}

{% block content %}
  <h2>Are you sure you want to delete this post?</h2>
  <div class="card m-auto">
    <img class="card-img-top" src ="{{blog_post.image.url}}">
    <div class="card-body my-2">
        <h2 class="card-title">{{blog_post.title}}</h2>
        <p class="card-text">{{blog_post.body|safe}}</p> <!--save will render html if we add it to our blog post -->

    </div>

  <form method="POST">
    {% csrf_token %}
    <a href="{% url 'blog:detail' blog_post.slug %}" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
{% endblock %}